################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SerialButtonLogger
/SerialButtonLogger/.vs/SerialButtonLogger/v14
/SerialButtonLogger/bin
/SerialButtonLogger/obj
